header {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 300;
  color: rgb(243, 247, 250);
  font-style: normal;
  font-size: 1.5em;
  text-align: center;
}

header{
    position: relative;
}

#banner{
    background-image: url(images/banner.png);
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

body{
    background: #53D9FE;
    background: linear-gradient(180deg, rgba(83, 217, 254, 1) 12%, rgba(78, 187, 255, 1) 78%);
}

.four-columns{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 650;
    font-style: normal;
    padding: 1.5rem;
    gap: 2rem;
    position: relative;
    z-index: 2;


}

.four-columns section {
  flex: 1;
  background-color: rgb(247, 247, 239);
  border-radius: 30px;
  border-style: solid;
  border-color: #015197;
  border-width: 0.5em;
  padding-left: 1em;
  padding-bottom: 2.5em;

  
}

.four-columns h2 {
  color: rgb(225, 38, 9);

  
}
.four-columns a {
    color: #2D9BEA;
    list-style-type: none;
    padding-left: 0.25em;
    margin-bottom: 0.75rem;
    transition: opacity, 0.5s ease;
}
 .four-columns a:hover {
    background-color: #5ea3d1;
    color: aliceblue;
    border-style: solid;
    border-color: #015197;
    border-radius: 20px;
    padding: 0.5em;
 }


.four-columns ul {
  list-style-type: none;
  padding-left: 0.25em;
}

.four-columns li{
    margin-bottom: 0.75rem;
}


#clouds {
    width: 100%;
    height: 45vh;
    background-image: url("images/clouds.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: 0 bottom;
    animation: movingclouds 40s linear infinite;
  
}



@keyframes movingclouds {
    from{
        background-position-x: 0;
    }
    to {
        background-position-x: 100%;
    }

}




@media (max-width: 900px) {
  .four-columns {
    flex-direction: column;

}
}