header{
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 150;
  background-color: #2B6951;
  color: rgb(243, 247, 250);
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
}
main {
    display: flex;
    width: 1200px;
    margin: auto;
    box-sizing: border-box;
}

main h2{
font-family: "Cherry Bomb One", system-ui;
font-weight: 150;
color: rgb(26, 95, 80);
font-style: normal;
font-size: 2rem;
}

section {
    flex: 1;
    padding: 40px;
}

#madlibs-form {
  position: block;
  font-family: "Poppins", sans-serif;
  top: 40%;
  left: 60%;
  margin-top: 80px;
  transform: translate(-220%);
  width: 70%;
  background: rgba(255, 255, 255,);
  padding: 40px;
  border-radius: 20px;
}

#madlibs-form h2 {
  white-space: nowrap;
  text-align: center;
}

#madlibs-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #2B6951;
  font-family: "Poppins", sans-serif;
  font-size: 0.5em;
  box-sizing: border-box;
}

#madlibs-form input[type="text"]:focus {
  outline: none;
  border-color: #1A5F50;
  box-shadow: 0 0 5px rgba(26, 95, 80, 0.4);
}


#madlibs-form {
    display: block;
}

#madlibs-form label {
  display:flex;
  margin-top: 2px; 
}

#madlibs-form input[type="text"] {
  display: block;
  font-size: 1em;
  margin-top: 2px;   
  margin-bottom: 8px; 
  width: 100%; 
}

#madlibsOverlay{
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#madlibsOverlay article {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 40px;
    background: white;
    border-radius: 20px;
}

