
body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-color: #FFE4D5;
}

h1 {
    font-family: "Cherry Bomb One", system-ui;
    color:#071961;
}


article p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

/* image container */

.image-container {
    position: relative;
    display: inline-block;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#mainImage {
    position: relative;
    z-index: 1;
}

.outline {
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.hover-zone {
    position: absolute;
    width: 120px;
    height: 200px;
    cursor: pointer;
    z-index: 3;
}


/* overlay base */

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* overlay layout */

.overlay article {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    max-width: 1000px;
}

.overlay img {
    width: 500px;
    border-radius: 15px;
}


/* base text boxes */

.text-box {
    padding: 40px;
    border-radius: 15px;
    text-align: left;
    border: 4px solid #333;
    background-color: rgba(255,255,255,0.95);
}


/* Overlay backgrounds */

#pictureoverlayorange {
    background-image: url("images/everypictureoverlay.png");
    background-color: rgba(255, 224, 186);
}

#pictureoverlaypink {
    background-image: url("images/everypictureoverlay.png");
    background-color: rgba(253, 226, 239);
}

#pictureoverlayblue {
    background-image: url("images/everypictureoverlay.png");
    background-color: rgba(52, 152, 219);
}

#pictureoverlaygray {
    background-image: url("images/everypictureoverlay.png");
    background-color: rgba(150, 142, 142);
}

#pictureoverlaygreen {
    background-image: url("images/everypictureoverlay.png");
    background-color: rgba(46, 139, 87);
}

#pictureoverlaylavender {
    background-image: url("images/everypictureoverlay.png");
    background-color: rgb(208, 198, 252);
}

/* Text boxes */

.orange-box {
    background-color: #fff3e6;
    border-color: #ff8c00;
}

.orange-box h2 {
    font-family: "Poppins", sans-serif;
    color: #ff8c00;
}


.pink-box {
    background-color: #ffe6f3;
    border-color: #ff69b4;
}
.pink-box h2 {
    font-family: "Poppins", sans-serif;
    color: #ff69b4;
}

.blue-box {
    background-color: #e6f4ff;
    border-color: #1f78c1;
}

.blue-box h2 {
    font-family: "Poppins", sans-serif;
    color: #3152d6;
}

.gray-box {
    background-color: #f2f2f2;
    border-color: #555;
}

.gray-box h2 {
    font-family: "Poppins", sans-serif;
}

.green-box {
    background-color: #e6f7ec;
    border-color: #2e8b57;
}

.green-box h2 {
    font-family: "Poppins", sans-serif;
    color: #2e8b57;
}

.lavender-box {
    background-color: #f3eaff;
    border-color: #9b59b6;
}

.lavender-box h2 {
    font-family: "Poppins", sans-serif;
    color: #9b59b6;
}


/* closing button */

.closeOverlay {
    margin-top: 15px;
    background-color: #efe3ff;
    border-radius: 1em;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
