body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

.image-container {
  position: relative;
  width: 1200px;
  height: 750px;
}


.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; 
  transition: opacity 0.3s ease;
}


#mainImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 1;
 
}


.outline {
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}


.hover-zone {
  position: absolute;
  width: 120px; 
  height: 500px;
  cursor: pointer;
  z-index: 3;
  /* background: rgba(255, 0, 0, 0.3); */
}
