body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

.image-container {
  position: relative;
  width: 600px; /* match SVG size */
}

/* Stack all images */
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s ease;
}

/* Main image at bottom */
#mainImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 1;
  /* transition: opacity 0.3s ease; */
}

/* Outlines above */
.outline {
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}

/* Hover zones on top */
.hover-zone {
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 3;
}

.hover-zone {
  /* background: rgba(255, 0, 0, 0.3); */
  width: 80px;
  height: 250px;

}
