

body{
    margin:0;
    font-family: "Poppins", sans-serif;
    background-image:url("images/iceOverlayGameplay.svg"),linear-gradient(#d2ebff,#5fb2ff);
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center;
}

.container{
    display:flex;
    height:100vh;
}


/* Sidebar Instructions */

.sidebar{
    width:260px;
    background:#2874a6;
    color:white;
    padding:30px;
}

.sidebar h1{
    font-family:"Cherry Bomb One";
    font-size:40px;
}

.sidebar ul{
    margin-top:20px;
    line-height:1.6;
}


/* Game Area */

.game-area{
    flex:1;
    text-align:center;
    padding-top:40px;
}

.title{
    font-family:"Cherry Bomb One";
    font-size:40px;
    color:#1a2c44;
}


/* Player layout */

.players{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-top:30px;
}

.player{
    text-align:center;
}

.player-label{
    background:#3c6fb3;
    color:white;
    padding:10px 30px;
    border-radius:5px;
    font-family:"Cherry Bomb One";
    font-size: 20px;
}


/* Avatar */

.avatar-box{
    width:200px;
    height:200px;
    background:#eaeaea;
    border:4px solid #233a4f;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:20px auto;
}


/* score boxes */

.score-box{
    border:4px solid #3c6fb3;
    padding:10px;
    font-size:20px;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
    background:white;
}


/* Dice */

.dice-area{
    width:100px;
}


/* Action Buttons */

#actions{
    margin-top:40px;
}

#roll{
    background:#132c4a;
    border:2px solid #132c4a;
    font-family: "Poppins", sans-serif;
    color:white;
    border:none;
    padding:15px 80px;
    font-size:18px;
    border-radius:5px;
    margin-bottom:15px;
}

#pass{
    background:white;
    border:2px solid #132c4a;
    font-family: "Poppins", sans-serif;
    padding:15px 80px;
    font-size:18px;
    border-radius:5px;
    margin-bottom:15px;
}

#newGame{
    background:#2f6fb0;
    color:white;
    border:none;
    padding:15px 80px;
    font-size:18px;
    border-radius:5px;
    margin-bottom:15px;
}


/* Selecting avatar overlay */

#avatarOverlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url("images/iceOverlay.svg"),linear-gradient(0deg, rgba(237,249,255,1) 15%, rgb(68, 174, 255) 67%);
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    z-index:1;
}



/* Overlay Title */

.overlayTitle{
    font-family:"Cherry Bomb One";
    font-size:36px;
    background:#2f6fb0;
    color:white;
    padding:15px 40px;
    border-radius:12px;
    margin-bottom:60px;
}


/* Selecting avatar */

.avatar-selection{
    display:flex;
    gap:160px;
    align-items:center;
}


/* Player Picker */

.avatar-picker{
    text-align:center;
}

.avatar-picker h3{
    font-family:"Cherry Bomb One";
    font-size:28px;
    color:#1a2c44;
    margin-bottom:20px;
}


/* Penguin Circle */

.penguin-circle{
    width:260px;
    height:260px;
    border-radius:50%;
    border:8px solid #2a6fa3;
    background:#dfe7ef;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}

.penguin-circle img{
    width:170px;
}


/* Arrows */

.arrow{
    position:absolute;
    background:none;
    border:none;
    font-size:40px;
    cursor:pointer;
    color:#2a6fa3;
}

#p1Left,#p2Left{
    left:-70px;
}

#p1Right,#p2Right{
    right:-70px;
}


/* Penguin Name */

.penguinName{
    font-family:"Cherry Bomb One";
    font-size:26px;
    color:#1a2c44;
    margin-top:20px;
}


/* GameStart */

#confirmSelection{
    font-family: "Poppins", sans-serif;
    margin-top:40px;
    background:#2f6fb0;
    color:white;
    border:none;
    padding:15px 60px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
}

#confirmSelection:hover{
    background:#1c4d7e;
}