header {
 font-family: "Cherry Bomb One", system-ui;
 font-weight: 300;
 color: #8BA67E;
 font-style: normal;
 font-size: 1.5em;
 text-align: center;
 line-height: 1.75;
}


header{
   position: relative;
}


body{
   background: #edd3b1;
   margin: 0;
  
}




h2{
   font-family: "Poppins", sans-serif;
   font-weight: 650;
   font-style: normal;
}


#journalbanner {
   position: relative;
   background-image: url("../journal/images/learningjournalgraphic.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   min-height: 900px;
   text-align: center;
}




.postlinks {
   position: absolute;
   bottom: 20%;
   left: 50%;
   transform: translateX(-50%);
   background-color: rgb(239, 247, 245);
   border-radius: 20px;
   border: 0.5em solid #b7833a;
   padding: 1em 1em 1em;
   width: 50%;
   text-align: left;
}


.journalentries{
   font-family: "Poppins", sans-serif;
   margin: 3em auto 0 auto;
   border: 0.5em solid #8BA67E;
   background-color: aliceblue;
   color: #4c7738;
   border-radius: 10px;
   width: 67%;
   padding: 1em;


}


p{
   font-family: "Poppins", sans-serif;  
   font-size: 1rem;                    
   line-height: 1.6;
   max-width: 50%;                    
   margin: 1em auto;                
   color: #333;
   transform: translateX(-50%); 
}


img {
   width: 50%;
   height: auto;
}
